.toggle-a__icon {
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
}

.toggle-a__icon > Label {
    padding: 0;
}

.toggle-a__icon-on {
    rotate: 0;
    transition-duration: 0.25s;
    transition-timing-function: ease-out-cubic;
}

.toggle-a__icon-off {
    rotate: -90deg;
    transition-duration: 0.25s;
    transition-timing-function: ease-out-cubic;
}
